body {
    background-image: url(../assets/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;
}

.header_container {
    width: 79rem;
    height: 52rem;

    margin-top: 7rem;
    margin-left: 6rem;
}

.header_container h1 {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 9.6rem;

    padding-bottom: 3rem;

}

.header_container span {
    font-size: 6.4rem;
    font-weight: 600;


    background: -webkit-linear-gradient(90deg,
        rgba(153, 69, 255, 1) 0%,
        rgba(135, 82, 243, 1) 19%,
        rgba(84, 151, 213, 1) 42%,
        rgba(67, 180, 202, 1) 55%,
        rgba(40, 224, 185, 1) 67%,
        rgba(25, 251, 155, 1) 100%);
    
    background: linear-gradient(90deg, 
        rgba(153, 69, 255, 1) 0%, 
        rgba(135, 82, 243, 1) 19%, 
        rgba(84, 151, 213, 1) 42%, 
        rgba(67, 180, 202, 1) 55%, 
        rgba(40, 224, 185, 1) 67%, 
        rgba(25, 251, 155, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.header_container p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;

    padding-bottom: 3rem;

}


.button {
    font-size: 1.6rem;
    font-weight: 500;
    
    border: 0.1rem solid #fff;
    background-color: transparent;
    color: #fff;

    margin-right: 3rem;
    padding: 1.5rem 3rem;
}

.button:hover {
    background-color: #fff;
    color: #000;

    cursor: pointer;
    transition: all 0.4s ease;
}

.container_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_logos h5 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    
    background: -webkit-linear-gradient(90deg,
                rgba(153, 69, 255, 1) 0%,
                rgba(135, 82, 243, 1) 19%,
                rgba(84, 151, 213, 1) 42%,
                rgba(67, 180, 202, 1) 55%,
                rgba(40, 224, 185, 1) 67%,
                rgba(25, 251, 155, 1) 100%);
    
        background: linear-gradient(90deg,
                rgba(153, 69, 255, 1) 0%,
                rgba(135, 82, 243, 1) 19%,
                rgba(84, 151, 213, 1) 42%,
                rgba(67, 180, 202, 1) 55%,
                rgba(40, 224, 185, 1) 67%,
                rgba(25, 251, 155, 1) 100%);
    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.container_logos img {
    margin-top: 3rem;
}

.container_numbers_community {

}

.container_numbers_community h2 {
    font-size: 6.4rem;
    line-height: 9.6rem;
    font-weight: 600;

    width: 66rem;
    margin-top: 18rem;
    margin-left: 6rem;
}

.container_numbers_community span {
    background: -webkit-linear-gradient(90deg,
        rgba(153, 69, 255, 1) 0%,
        rgba(135, 82, 243, 1) 19%,
        rgba(84, 151, 213, 1) 42%,
        rgba(67, 180, 202, 1) 55%,
        rgba(40, 224, 185, 1) 67%,
        rgba(25, 251, 155, 1) 100%);
    
    background: linear-gradient(90deg,
        rgba(153, 69, 255, 1) 0%,
        rgba(135, 82, 243, 1) 19%,
        rgba(84, 151, 213, 1) 42%,
        rgba(67, 180, 202, 1) 55%,
        rgba(40, 224, 185, 1) 67%,
        rgba(25, 251, 155, 1) 100%);
    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.numbers_community {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    
    width: 120rem;
    margin: 7rem 6rem;
}

.numbers_community h3 {
    font-size: 8rem;
    font-weight: 400;
    line-height: 13.2rem;
}

.numbers_community p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.more_container {
    display: grid;
    grid-template-columns: 2.2fr 1fr;

    margin-top: 20rem;
    padding: 0 6rem;
}

.more_container h2 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 9rem;
    
    text-align: end;
    align-self: center;

    background: -webkit-linear-gradient(90deg,
        rgba(153, 69, 255, 1) 0%,
        rgba(135, 82, 243, 1) 19%,
        rgba(84, 151, 213, 1) 42%,
        rgba(67, 180, 202, 1) 55%,
        rgba(40, 224, 185, 1) 67%,
        rgba(25, 251, 155, 1) 100%);
    
    background: linear-gradient(90deg,
        rgba(153, 69, 255, 1) 0%,
        rgba(135, 82, 243, 1) 19%,
        rgba(84, 151, 213, 1) 42%,
        rgba(67, 180, 202, 1) 55%,
        rgba(40, 224, 185, 1) 67%,
        rgba(25, 251, 155, 1) 100%);
    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.more_container p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.7rem;

    margin-top: 2rem;
    margin-bottom: 3rem;
}

.more_container h4 {
    font-size: 3.2rem;
    font-weight: 600;

    margin-left: 2rem;
}


.more_container h5 {
    font-size: 3.6rem;
    font-weight: 400;
}

.more_container h6 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
}

.card_info {
    width: 38rem;
}

.card_info span {
    color: #00AC11;
}

.card_title {
    display: flex;
}

.card_title img {
    width: 3.2rem;
}

