.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    margin: 3rem 5rem 0rem 5rem;
}

.navbar .icon_solana {
    width: 4rem;
    justify-self: start
}

.navbar .logo_solana {
    width: 14rem;
}

.navbar ul {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3.5rem;
    list-style: none;

    text-align: end;
    justify-self: end;

    color: #fff;
}